<div class="card cardBorderRadius">
    <div class="card-body">
        <div *ngIf='weatherData.status==200'>
            <div class="card-title">
                <div class="d-flex">
                    <div class="cardTitle text-capitalize justify-content-start">{{weatherData.name}} </div>
                    <div class="tempBadgeLayout">
                        <div class="badgePillLayout">
                            <div class="badgePill">{{weatherData.data.temp}}°С </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ml-0 mr-0 w-100">
                <div class="col-6 pl-0 pr-0"><i class="fa fa-sun-o tempIconLayout" aria-hidden="true"></i>Temperature
                </div>
                <div class="col-6 pl-0 pr-0">{{weatherData.data.tempMin}} to {{weatherData.data.tempMax}}°С</div>
            </div>
            <div class="row ml-0 mr-0 w-100">
                <div class="col-6 pl-0 pr-0"><i class="fa fa-percent humidityIconLayout" aria-hidden="true"></i>Humidity
                </div>
                <div class="col-6 pl-0 pr-0">{{weatherData.data.humidity}}%</div>
            </div>
            <div class="row ml-0 mr-0 w-100">
                <div class="col-6 pl-0 pr-0"><i class="fa fa-cloud cloudIconLayout" aria-hidden="true"></i>Clouds</div>
                <div class="col-6 pl-0 pr-0">{{weatherData.data.clouds}}%</div>
            </div>
            <div class="row ml-0 mr-0 w-100">
                <div class="col-6 pl-0 pr-0"><i class="fa fa-tint rainIconLayout" aria-hidden="true"></i>Rain</div>
                <div class="col-6 pl-0 pr-0">{{weatherData.data.rain?'Yes':'No'}}</div>
            </div>
        </div>
        <div *ngIf='weatherData.status==404 || weatherData.status==500'>
            <div class="card-title">
                <div class="d-flex justify-content-center text-capitalize cardTitle">
                    {{weatherData.name}}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div>{{weatherData.data.message}} </div>
            </div>
        </div>
    </div>
</div>