.cardBorderRadius{
    border-radius: 20px;
}

.cardTitle{
    font-weight: 400;
    font-size: 25px;
}

  .cloudIconLayout{
    color: skyblue;
    margin-right: 5px;
  }

  .rainIconLayout{
    font-size: 18px;
    color: #99edf3;
    margin-right: 5px;
  }

  .humidityIconLayout{
    color: #b6a28e;
    margin-right: 5px;
  }

  .tempIconLayout{
    color: #F28C38;
    margin-right: 5px;
  }

  .tempBadgeLayout{
    height: 20px;
    margin: auto 0px auto 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.badgePill {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
  }
  
  .badgePillLayout {
    background: #6c757d 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
