<div class="w-100 cacheLayout" *ngIf='recents'>
    <div class="row ml-0 mr-0 w-100 titleColor">
        <div class="text-capitalize">{{recents.name}}</div>
    </div>
    <div class="row ml-0 mr-0 w-100">
        <div class="tempBadgeLayout">
            <div class="badgePillLayout">
                <div class="badgePill">{{recents.data.temp}}°С </div>
            </div>
        </div>
        <div class="d-flex bodyLayout">
            <div class="tempMargin">temperature ranges from {{recents.data.tempMin}} to
                {{recents.data.tempMax}}°С,
            </div>
            <div class="cloudMargin">clouds {{recents.data.clouds}}%</div>
        </div>
    </div>
</div>