.tempBadgeLayout{
    height: 18px;
    margin: auto 0px auto 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.badgePill {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
  }
  
  .badgePillLayout {
    background: #6c757d 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .cacheLayout{
    border-bottom: 1px solid #00000031;
    margin-top: 10px;
  }

  .titleColor{
    color: #5445f3;
  }

  .bodyLayout{
    margin-bottom: 5px;
    margin-top:3px
  }

  .tempMargin{
    margin-left: 5px;
  }

  .cloudMagin{
    margin-left: 3px;
  }