<div class="container-fluid bg-light containerLayout">
    <div class="row pt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="d-flex justify-content-start w-100 mainTitleLayout">

                    <div class="row ml-0 mr-0 w-100">
                        <div class="mainTitle">Weather in your city</div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-center">
                        <div>
                            <div class="row ml-0 mr-0">
                                <form (ngSubmit)='searchCity()'>
                                    <div class="input-group">
                                        <input type="text" class="form-control inputRounded" name='city'
                                            placeholder="Enter City" aria-label="Search" aria-describedby="basic-addon2"
                                            [(ngModel)]='city'>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary buttonRounded"
                                                id="basic-addon2" [disabled]='!city'>Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="d-flex justify-content-center mt-2">
                                <div class="spinner-border text-secondary" role="status" *ngIf='showSpinner'>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div *ngIf='showWeatherCard' class="weatherCardMargin">
                                <app-weather-card></app-weather-card>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-6 recentsLayout" *ngIf='cache.length>0'>
                    <div class="recentsTitle">Recents</div>
                    <div *ngFor="let item of cache.reverse();">
                        <div>
                            <app-cache [recents]='item'></app-cache>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>