.inputRounded{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.buttonRounded{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.mainTitle{
    font-size: 30px;
    font-weight: 600;
}

.mainTitleLayout{
    padding-bottom: 5px;
    border-bottom: 1px solid #00000031;
    margin-bottom: 50px;
    line-height: 50px;
}

.containerLayout{
    height: auto;
    min-height: 100vh;
}

.btn-primary{
    background-color: #5445f3;
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: none;
    background-color: #5445f3;
    border-color: #5445f3;
}
.btn-primary:not(:disabled):not(.disabled):focus{
    box-shadow: none;
    background-color: #5445f3;
    border-color: #5445f3;
}
.btn-primary:not(:disabled):not(.disabled):active{
    box-shadow: none;
    background-color: #5445f3;
    border-color: #5445f3;
}

.form-control:focus{
    border-color: #ced4da;
    box-shadow: none;
    background-color: #fff;
}

.form-control:active{
    border-color: #ced4da;
    background-color: #fff;
    box-shadow: none;
}

.recentsTitle{
    font-size: 25px;
}

.recentsLayout{
    padding-left: 30px !important;
    border-left: 1px solid #00000031;
}

.weatherCardMargin{
    margin-top: 20px;
}